body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.backOfficeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1.backOfficeHeader {
  margin-bottom: 50px;
}

.backOfficeLinks:hover {
  color: #f1f1f1;
}

.backOfficeButtons {
  width: 400px; 
  height: 150px; 
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-bottom: 40px;
}
