@keyframes blink {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: #DCFA00;
  }

  100% {
    background-color: transparent;
  }
}

.blink {
  animation: blink 1s infinite;
}