.generalStyle {
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

.voteCounts {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.voteCounts h2 {
    text-align: left;
    margin: 20px 0;
}

.voteCountsDetails {
    padding: 20px 0;
    display: flex;
    justify-content: space-between
}

.chartContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    max-height: 500px;
    height: 100%;
}

.voteChart {
    max-width: 700px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    margin: 10px 0;
}
