.container {
  text-align: center;
  /* Center-align the text */
  margin-top: 50px;
  /* Adjust margin as needed */
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.otp_input_field {
  margin-bottom: 10px;
  /* Adjust margin as needed */
}

/* Style the input field */
input {
  width: 300px;
  /* Adjust width as needed */
  height: 40px;
  /* Adjust height as needed */
  padding: 8px;
  /* Adjust padding as needed */
  font-size: 16px;
  /* Adjust font size as needed */
  border: 1px solid #ccc;
  /* Add border as needed */
  border-radius: 5px;
  /* Add border radius as needed */
}

/* Style the button */
button {
  width: 200px;
  /* Adjust width as needed */
  height: 70px;
  /* Adjust height as needed */
  padding: 8px 16px;
  /* Adjust padding as needed */
  font-size: 16px;
  /* Adjust font size as needed */
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}